<ion-header>
  <ion-toolbar color="dark">
    <ion-title *ngIf="passedFrom === 'addDoctor'">Add Doctor</ion-title>
    <ion-title *ngIf="passedFrom === 'viewDoctor'">{{doctor.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="doctor.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Area</ion-label>
    <ion-input type="text" [(ngModel)]="doctor.area"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sub-Territory</ion-label>
    <ion-input type="text" [(ngModel)]="doctor.place"></ion-input>
  </ion-item>
</ion-content>

<ion-button no-margin expand="full" color="dark" *ngIf="passedFrom === 'addDoctor'" (click)="addDoctor()">
  Add
</ion-button>
<!-- <ion-button no-margin expand="full" color="dark" *ngIf="passedFrom === 'viewDoctor'" (click)="updateDoctor()">
  Save
</ion-button> -->


<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons expand="block">
      <ion-button expand="block" size="default" (click)="onClick()">
        <ion-icon slot="start" name="add"></ion-icon>
        Click me
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->