<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Doctor Visit ({{selectedArea}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let doctor of tempDoctorList" (click)="navigate(doctor)">
      <ion-label> {{doctor.name}} </ion-label> <p>{{doctor.area}}</p>
    </ion-item>
  </ion-list>
</ion-content>