.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-content{
	--background: var(--ion-color-light) !important;
}

ion-card{
	--background: var(--ion-color-white);
	border-radius: 15px;
}

// ion-card-header{
// 	background-color: var(--ion-color-dark);
// }

.header{
	background-color: var(--ion-color-dark);
}

.header-title{
	color: var(--ion-color-dark-contrast);
}

.status{
	font-weight: bold;
	font-style: italic;
	color: var(--ion-color-danger);
}