<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Dashboard
		</ion-title>
		<ion-buttons slot="end">
			<ion-button *ngIf="!loggedIn && !hideAuthButtons" (click)="login()">
				<ion-icon slot="icon-only" name="log-in"></ion-icon>
			</ion-button>
			<ion-button *ngIf="loggedIn && !hideAuthButtons" (click)="logout()">
				<ion-icon slot="icon-only" name="log-out"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header class="header">
			<ion-card-title class="header-title">
				Today's plan
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-grid no-padding>
				<ion-row style="align-items: center ; vertical-align: middle">
					<ion-col size="8">Leave</ion-col>
					<ion-col size="4">
						<ion-button fill="clear" (click)="viewPlan()">
							View plan
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header class="header">
			<ion-card-title class="header-title">
				Today's Events
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-grid no-padding>
				<ion-row style="align-items: center ; vertical-align: middle">
					<ion-col size="12">No Events Found -</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header class="header">
			<ion-card-title class="header-title">
				Upcoming Events
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-grid no-padding>
				<ion-row style="align-items: center ; vertical-align: middle">
					<ion-col size="12">No Events Found -</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header class="header">
			<ion-card-title class="header-title">
				Pending Doctor Approval
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-grid no-padding *ngIf="loggedIn">
				<ion-row style="align-items: center ; vertical-align: middle">
					<ion-col size="8">
						Jaydeep Date - Thergaon
					</ion-col>
					<ion-col size="4" class="status">
						Not approved
					</ion-col>
				</ion-row>
				<ion-row style="align-items: center ; vertical-align: middle">
					<ion-col size="8">
						Amit Reddy - Sakinaka
					</ion-col>
					<ion-col size="4" class="status">
						Not approved
					</ion-col>
				</ion-row>
				<ion-row style="align-items: center ; vertical-align: middle">
					<ion-col size="8">
						Arjit Saha - Sakinaka
					</ion-col>
					<ion-col size="4" class="status">
						Not approved
					</ion-col>
				</ion-row>
				<ion-row style="align-items: center ; vertical-align: middle">
					<ion-col size="8">
						Avdhut Kadam - Sakinaka
					</ion-col>
					<ion-col size="4" class="status">
						Not approved
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
</ion-content>